* {
    margin: 0;
    padding: 0;
}

#header {
    height: 64px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
}

#body {
    Height: 100%;
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 24px;
}

#footer {
    height: 200px;
    background-color: rgb(230, 230, 230);
}

#banner {
    height: 200px;
    background-color: yellow;
}

#header-area {
    width: 1024px;
    height: 100%;
    display: flex;
    align-items: center;
}

#header-area > img {
    width: 128px;
    height: 40px;
}

#banner > img {
    width: 100%;
    height: 300px;
}

#body > h1 {
    margin-top: 16px;
    background-color: rgb(230, 230, 230);
}

#journal-list {
    border: 1px solid black;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 260px;
}

.journal-card {
    width: 180px;
    height: 300px;
    margin-right:  12px;
    margin-bottom: 12px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 12px;
    overflow: hidden;
}

.journal-img {
    width: 180px;
    height: 180px;
}

.journal-contents {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.journal-name {
    font-size: 14px;
    font-weight: 700;
    margin-top: 6px;
}

.journal-start-day {
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
}

.journal-field {
    margin-top: 12px;
}